.menu_desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	a {
		color: black;
	}
	li {
		width: 100%;
		list-style: none;
		margin: 20px 0;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		border-right: 2px solid grey;
		text-align: center;
		cursor: pointer;
	}
	li:hover {
		color: #f1532c;
	}
	li {
		.container_drop {
			position: absolute;
			//   visibility: hidden;
			display: none;
			margin: 0;
			//   background-color: #fff;
			padding: 0;
			top: 50px;
			right: 0px;
			width: 100%;
			//   padding: 50px 0;
			z-index: 99;
			opacity: 0.2;
			transition: all 0.5s;
			padding-top: 40px;
			animation: submenu 0.5s infinite;
			animation-iteration-count: 1;
		}
		.menu_drop {
			//   position: absolute;
			//   //   visibility: hidden;
			//   display: none;
			//   margin: 0;
			background-color: #4c4c4c;
			//   padding: 0;
			//   top: 70px;
			//   right: 0px;
			//   width: 100%;
			padding: 50px 0;
			//   z-index: 99;
			//   opacity: 0.2;
			//   transition: all 0.3s;

			.drop_category {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin: 0 5%;
				.drop_child {
					cursor: pointer;
					color: white;
					img {
						opacity: 0.8;
						object-fit: cover;
					}
					.title {
						font-size: 16px;
						margin-top: 10px;
					}
				}
				.drop_child:hover {
					color: #f1532c;

					img {
						opacity: 1;
					}
				}
			}
			.slogent {
				color: #808080;
				margin: 10px 5% 0;
				font-size: 16px;
				.name {
					font-size: 16px;
					color: #eeeeee;
				}
			}
		}
	}
	li:hover .container_drop {
		display: initial;
		top: 40px;
		right: 0px;
		width: 100%;
		z-index: 99;
		opacity: 1;
		transition: all 0.5s;
		// background-color: #4c4c4c;
	}
	li:last-child {
		border-right: none;
	}
}
.menu_mobile {
	display: none;
}
@keyframes submenu {
	0% {
		top: 60px;
		opacity: 0;
	}
	// 50% {
	// 	top: 50px;
	// 	opacity: 0.5;
	// }
	100% {
		top: 40px;
		opacity: 1;
	}
}
@media screen and (max-width: 950px) {
	.menu_desktop {
		display: none;
	}
	.menu_mobile {
		display: initial;
		.ant-collapse-item-active > .ant-collapse-header {
			color: #f1532c !important;
		}
		.ant-collapse-content > .ant-collapse-content-box {
			padding: 0 16px;
			border: none;
		}
		.ant-collapse-content .ant-collapse-content-active {
			// 	padding: 0 16px;
			border: none;
			// border-top: ;
		}
		.ant-collapse-item:last-child {
			border-bottom: none;
		}
		.ant-collapse {
			background-color: transparent;
			border: none;
		}
		.ant-collapse > .ant-collapse-item > .ant-collapse-header {
			color: white;
		}
		.ant-collapse-content {
			background-color: transparent;
			border: 1px dashed grey;
		}
		.item {
			color: white;
			padding: 10px 0;
			text-transform: uppercase;
			border-bottom: 1px dashed grey;
		}
		.ant-collapse-item > .ant-collapse-header {
			border-bottom: 1px dashed grey;
		}
		.item:last-child {
			border-bottom: none;
		}
		.ant-collapse > .ant-collapse-item {
			border-bottom: 1px dashed grey;
		}
		.ant-collapse > .ant-collapse-item:last-child {
			border-bottom: none !important;
		}
		.ant-collapse-content-active .ant-collapse-item > .ant-collapse-header {
			// border-bottom: none !important;
		}
	}
}
