* {
  box-sizing: border-box;
}
.container_related {
  width: 100%;
  margin: 5% auto 3% auto;
  .header_related {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    // text-align: center;
    // margin: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .related_produtct {
    width: inherit;
    height: auto;
    margin: 2% auto;
    display: flex;
    .list--item {
      //   margin: 5% 3%;
      cursor: pointer;
      img {
        width: 16vw;
        height: auto;
      }
    }
    img {
      width: 80%;
      height: auto;
    }
    .carousel {
      width: inherit;
    }
    .InfiniteCarousel {
      width: -webkit-fill-available;
    }
  }
  .view_produtct:last-child {
    width: -webkit-fill-available;
  }
}
