// .wrap-card {
//   flex: 33.3333333%;
// }
// @media screen and (max-width: 1366px) {
//   .wrap-card {
//     flex: 50%;
//   }
// }

// @media screen and (max-width: 766px) {
//   .wrap-card {
//     flex: 100%;
//   }
// }

a {
  color: #111111 !important;
}
a:hover {
  color: #f15e2c !important;
}

.text-center {
  text-align: center;
}
