// * {
//   box-sizing: border-box;
// }
.btn-delete-back {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // font-size: 1.6rem;

  padding: 40px 0;
  button {
    padding: 15px 35px;
    width: 45%;
    color: #111;
    font-size: 5ch;
    font-weight: bold;
    height: auto;
    background-color: #f1f1f1;
  }
}
@media only screen and (max-width: 950px) {
  .Container {
    // font-size: 22vw;
  }
}
