// * {
//   box-sizing: border-box;
// }

.header__cart {
	font-size: 1.5rem;
	font-weight: bold;
}
.btn-delete-back {
	display: flex;
	justify-content: space-between;
	width: 100%;
	// font-size: 1.6rem;

	padding: 40px 0;
	button {
		padding: 15px 35px;
		width: 45%;
		// color: #111;
		font-size: 1.2rem;
		font-weight: bold;
		height: auto;
		color: #fff;
		// f15e2c, f07a35
		background-color: #f07a35;
	}
	button:after {
		position: absolute;
		content: "";
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		z-index: -1;
		background-color: #663dff;
		border-radius: 5px;
		box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
			7px 7px 20px 0px rgba(0, 0, 0, 0.1),
			4px 4px 5px 0px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease;
	}
	button:hover {
		color: #fff;
	}
	button:hover:after {
		left: 0;
		width: 100%;
	}
	button:active {
		top: 2px;
	}
}
@media only screen and (max-width: 950px) {
	.Container {
		// font-size: 22vw;
	}
}
