* {
	box-sizing: border-box;
}
.container {
	width: 100%;
	margin: 3% auto 5% auto;
	.header {
		width: 100%;
		font-size: 25px;
		font-weight: bold;
		// text-align: center;
		// margin: 3% 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.view_produtct {
		width: 80%;
		height: auto;
		margin: auto;
		display: flex;
		.list--item {
			cursor: pointer;
			img {
				width: 80%;
				height: auto;
			}
		}
	}
}
