.content__detail {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 2%;
	margin-bottom: 5%;

	.content__logo {
		width: 55%;
		div {
			// border: none;
		}
		.main__logo {
			margin: 0px auto;
		}
		.main__logo > img {
			width: 100%;
			height: auto;
			// position: relative;
			// min-height: 50%;
			// min-height: 50%;
			// transform: translate(-50%, -50%);
		}

		.child__logo {
			// margin: auto;
			.child-side {
				display: flex;
				width: 100%;
				height: auto;
				.logo-slide {
					padding: 5px;
					margin: 20px auto;
					width: 100%;
					height: auto;
					cursor: pointer;
				}
				.logo-slide > img {
					width: 100%;
					height: auto;
				}
			}
		}
		.comment {
			textarea {
				padding: 1%;
				margin-bottom: 2%;
				border-radius: 5px;
			}
			.like_rep {
				display: flex;
				div {
					margin-right: 3%;
					cursor: pointer;
				}
			}
			.comment_content {
				display: grid;
				font-weight: bold;
			}
			.rep_comment {
				display: grid;
				margin: 2% 0 2% 5%;
			}
		}
	}
}
