* {
  box-sizing: border-box;
}
.desktop_payment {
  width: 100%;
  .container__pay {
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
  }
}
.cart__pay {
  // margin: 30px;
  width: 68%;
  .header__cart {
    background-color: #b9aeaa;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
  }
  .logo {
  }

  .btn-delete-back {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0;
    button {
      width: 250px;
      height: 40px;
      background-color: rgb(65, 64, 64);
    }
  }
}

.details__cart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #123;
  padding-bottom: 30px;
  .img_detail__cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .detail {
      display: grid;
      justify-content: space-between;
      width: 100%;
      padding: 20px;
      .detail__content {
        width: 100%;
      }
      .name {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .price {
        font-size: 20px;
      }

      .size-amount {
        display: flex;
        width: 100%;

        font-size: 22px;
        div {
          width: 100%;
          div {
            font-weight: bold;
          }
          select {
            width: 60%;
          }
        }
      }
    }
  }
  .action {
    width: 30%;
    padding: 20px;
    display: inline-block;
    justify-content: right;

    div {
      text-align: right;
    }

    .price__status {
      padding-bottom: 10px;
      .status {
        font-size: 18px;
      }
    }

    .btnAction {
      width: 100%;
      div {
        padding-top: 10px;
        button {
          width: 80%;
        }
      }
      .deleteBtn > button {
        color: #fff;
        background-color: #303030;
      }
    }

    .price__action {
      font-weight: bold;
    }
    font-size: 24px;
    display: table-row;
    color: #f15e2c;
  }
}

.info__pay {
  float: right;
  width: 30%;
  .header {
    font-weight: bold;
    font-size: 20px;
    background-color: #b9aeaa;
    padding: 10px 20px;
  }
  .info__content {
    padding: 0 20px;
    .promotion {
      .promotion__content {
        display: flex;
        justify-content: space-between;
        input {
          width: 70%;
        }
        button {
          width: 30%;
          background-color: #f15e2c;
          color: #fff;
          border: none;
        }
      }
    }
    .orderDetail {
      border-top: dashed;
      border-bottom: dashed;
      font-size: 20px;
      div {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        opacity: 0.7;
      }
      .reduction:last-child {
        font-weight: normal;
      }
    }
    .tempCacul {
      div {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bold;
        justify-items: center;
        :last-child {
          font-size: 22px;
        }
      }
      button {
        width: 100%;
        height: 80px;
        color: #fff;
        background-color: #f15e2c;
        margin: 20px 0;
      }
    }
  }
  .info__content > div {
    padding: 20px 0;
  }
}
button {
  font-weight: bold;
}

@media screen and (max-width: 615px) {
  img {
    width: 115px;
    height: 115px;
  }
  .desktop_payment {
    height: 820px;

    margin-top: 10px;
    .container__pay {
      display: inline;

      .cart__pay {
        width: 100%;
        margin: auto;

        .left__detail {
          padding: 20px;

          .details__cart {
            display: inline;
            // border-bottom: 1px solid #111;

            .img_detail__cart {
              display: flex;
              justify-content: space-between;
              width: 100%;
              .logo {
                padding: 5px;
              }
              .detail {
                width: 100%;
                padding: 20px;
                font-size: 16px;
                .detail__content > div {
                  font-size: 16px;
                }
              }

              .size-amount {
                width: 100%;
                display: flex;
                div {
                  width: 100%;
                  select {
                    width: 80%;
                  }
                }

                display: inline;
                width: 40%;
                select {
                  width: 60%;
                }
              }
            }
            .action {
              width: 100%;
              padding-top: 20px;
              .price__status {
                width: 100%;
                display: flex;
                justify-content: space-between;
                color: #f15e2c;
                font-size: 18px;
                // .price__action {
                //   padding-left: 20px;
                //   font-weight: bold;
                //   font-size: 18px;
                // }
              }
              .btnAction {
                display: flex;
                justify-content: flex-end;
                font-size: 20px;
                padding-top: 10px;
                div > button {
                  width: 80px;
                }
                .deleteBtn {
                  padding-left: 10px;
                }
              }
            }
          }

          .btn-delete-back {
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin-top: 10%;
            button {
              width: 200px;
              font-size: 14px;
            }
          }
        }
      }

      .info__pay {
        width: 100%;
        // .header {
        //   border-bottom: 1px solid #123;
        //   padding: 20px;
        //   font-weight: bold;
        //   font-size: 20px;
        // }

        .info__content {
          padding: 20px;

          .promotion {
            padding-bottom: 20px;
            .id_Promotion {
              font-size: 16px;
            }
            .promotion__content {
              align-items: center;
              width: 100%;
              input {
                padding: 7px;
                width: 70%;
                font-size: 18px;
                font-weight: bold;
                align-items: center;
              }
              button {
                height: 45px;
                align-items: center;
              }
            }
          }
          .orderDetail {
            padding: 20px 0;
            border-bottom-style: dashed;
            border-top-style: dashed;
            border-width: 1.5px;
          }
          .orderDetail > div {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
          }

          .tempCacul {
            padding: 20px 0;
            .child__tempCacul {
              display: flex;
              justify-content: space-between;
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 20px;
            }
            button {
              font-size: 23px;
              width: 100%;
              height: 70px;
              background-color: #f15e2c;
              color: #fff;
              padding: 6px 12px;
            }
          }
        }

        .promotion {
          button {
            background-color: #f15e2c;
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .desktop_payment {
    height: 850px;
    .container__pay {
      display: inline;
      .cart__pay {
        width: 100%;
      }
      .info__pay {
        width: 100%;
      }
      .details__cart {
        display: flex;
        justify-content: space-between;
        .img_detail__cart {
          width: 70%;
          font-size: 22px;
          .detail {
            margin: 10px 20px;
            .price {
              font-size: 22px;
            }
            .size-amount {
              width: 100%;
              div {
                width: 100%;
                select {
                  width: 80%;
                }
              }
            }
          }
        }
        .action {
          width: 25%;
          text-align: right;
          margin: 10px;
          .price__action {
          }
          .btnAction {
            width: 100%;
            button {
              width: 50%;
              margin-top: 10px;
            }
          }
        }
      }

      // info- pay
      .info__pay {
        width: 100%;
        font-size: 20px;
        margin-top: 20px;

        .info__content {
          padding: 20px;

          .promotion {
            .promotion__content {
              width: 100%;
              input {
                width: 80%;
                height: 38px;
              }
              button {
                width: 20%;
                background-color: #f15e2c;
                color: #fff;
                border: none;
              }
            }
          }
          .orderDetail > div {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
          }
          .tempCacul {
            div {
              display: flex;
              justify-content: space-between;
              font-weight: bold;
              font-size: 23px;
            }
            button {
              padding: 20px;
              margin: 20px 0;
              width: 100%;
              background-color: #f15e2c;
              color: #fff;
            }
          }
        }
        .info__content > div {
          padding: 20px;
        }
      }
    }
  }
}
